.flex-container {
    display: flex;
    flex-direction: row;
    background-color: purple;
    height: 50px;
    width: 100%;
    align-items: center;
}

#kek{
    background-color: aqua;
    height: 30px;
    width: 100px;
    margin-left: 15px;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
}

#sarga{
    background-color: yellow;
    height: 450px;
    width: 65%;
}

#zold{
    background-color: green;
    height: 450px;
    width: 35%;
}